<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Mobile Specific Metas -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="HandheldFriendly" content="true">
        <meta content="telephone=no" name="format-detection">
        <title>404</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900%7CShare+Tech+Mono%7CSpace+Mono" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="css/style-rtl.css" type="text/css">
        <!-- END Custom CSS -->
    </head>
    <body class="page-error">
    	<div class="full-bradiusalls">
            <span class="bradius2"></span>
        	<span class="bradius3"></span>
            <span class="bradius4"></span> 
            <span class="bradius5"></span>
            <span class="bradius6"></span>
            <span class="bradius7"></span>
            <span class="bradius8"></span>
            <span class="bradius9"></span>
            <span class="bradius10"></span>
            <span class="bradius11"></span>
            <span class="bradius12"></span>
            <span class="bradius13"></span>
            <span class="bradius14"></span>
            <span class="bradius15"></span>
            <span class="bradius16"></span>
            <span class="bradius17"></span>
            <span class="bradius18"></span>
            <span class="bradius19"></span>
            <span class="bradius20"></span>
        </div>
        <section class="error">
            <!-- Content -->
            <div class="error__content">
                <div class="error__message message">
                    <h1 class="message__title">صفحه ای پیدا نشد.</h1>
                    <p class="message__text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </div>
                <div class="error__nav e-nav">
                    <a href="#" class="e-nav__link">بازگشت به صفحه اصلی</a>
                    <form action="#" class="e-nav__form">
                        <input type="text" placeholder="جستجو..." class="e-nav__search">
                        <span class="e-nav__icon icon-search"></span>
                    </form>
                </div>
            </div>
            <!-- end Content -->
            <!-- Social -->
            <div class="error__social e-social">
                <ul class="e-social__list">
                    <li class="e-social__icon">
                        <a href="#" class="e-social__link">
                            <i class="zmdi zmdi-facebook"></i>
                        </a>
                    </li>
                    <li class="e-social__icon">
                        <a href="#" class="e-social__link">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>
                    </li>
                    <li class="e-social__icon">
                        <a href="#" class="e-social__link">
                            <i class="zmdi zmdi-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end Social -->
        </section>
    </body>
</html>