{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">
      <section>
          <div class="header-image-wrapper header-image-about">
              <div class="bg-background-header bg-background-mask" style="background-image: url({% static 'img/img-oders/about.jpg' %});">
                  <div class="background-mask"></div>
              </div>
              <div class="header-image-content">
                  <h1 class="desc-image-content text-center m-0 fs-16-sm text-center-xs">درباره ما</h1>
                  <p class="desc-image-content fs-25 m-0 fs-16-sm text-center-xs"> یک متن ساختگی و با سادگی تولید است.</p>
              </div>
          </div>
      </section>
      <section>
          <div class="main-content-header container-fluid">
              <div class="mat-card border-top-content p-5">
                  <h1 class="section-title pt-5">درباره ما</h1>
                  <p class="text-gray"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>
                  <div class="row pt-6">
                     <div class="col-xl-6">
                       <h2 class="fs-21 place-content-center">
                           <i class="zmdi zmdi-city-alt mr-1 fs-48 text-primary"></i>
                           درباره شرکت
                       </h2>
                       <p class="text-gray"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                      </p>
                     </div>
                     <div class="col-xl-6">
                      <h2 class="fs-21 place-content-center">
                          <i class="zmdi zmdi-view-toc mr-1 fs-48 text-primary"></i>
                          چشم انداز
                      </h2>
                      <p class="text-gray"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                     </p>
                    </div>
                  </div>
              </div>
          </div>
      </section>
      <section>
          <div class="section-default item-mission mt-6">
              <h1 class="section-title text-center pt-3 font-weight-bold">ماموریت</h1>
              <div class="container-fluid pr-0 pl-0">
                  <div class="card">
                      <div class="row">
                          <div class="col-lg-12 col-xl-6 pl-6">
                              <div class="row mt-5">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="item-box-features">
                                          <i class="zmdi zmdi-money mb-3 item-mat-icon"></i>
                                          <h4>پس انداز کنید</h4>
                                          <p class="text-gray fs-14"> متنی ساختگی است که توسط سادگی غیرقابل توضیح صنعت چاپ و توسط طراحان گرافیک تولید شده است.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="item-box-features">
                                          <i class="zmdi zmdi-thumb-up  mb-3 item-mat-icon"></i>
                                          <h4>ایده بهتر است</h4>
                                          <p class="text-gray fs-14"> متنی ساختگی است که توسط سادگی غیرقابل توضیح صنعت چاپ و توسط طراحان گرافیک تولید شده است.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 mt-5">
                                      <div class="item-box-features">
                                          <i class="zmdi zmdi-accounts-alt mb-3 item-mat-icon"></i>
                                          <h4>مشارکت</h4>
                                          <p class="text-gray fs-14"> متنی ساختگی است که توسط سادگی غیرقابل توضیح صنعت چاپ و توسط طراحان گرافیک تولید شده است.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 mt-5">
                                      <div class="item-box-features">
                                          <i class="zmdi zmdi-search mb-3 item-mat-icon"></i>
                                          <h4>پیدا کردنش راحته</h4>
                                          <p class="text-gray fs-14"> متنی ساختگی است که توسط سادگی غیرقابل توضیح صنعت چاپ و توسط طراحان گرافیک تولید شده است.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 hiden-xl">
                              <div class="item-img-mission">
                                  <img src="{% static 'img/img-oders/mission.jpg' %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="mt-8">
          <div class="container-fluid">
              <div class="item-clients">
                  <div class="text-center">
                      <h1 class="section-title text-center font-weight-bold fs-28 mb-3">مشتریان ما</h1>
                      <p class="text-gray pt-3"> متنی ساختگی است که توسط سادگی غیرقابل توضیح صنعت چاپ و توسط طراحان گرافیک تولید شده است.</p>
                  </div>
                  <div class="swiper-container swiper-clients mt-6 mb-9">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/best.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/congrats.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/king.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/retro.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                          <div class="swiper-slide">
                              <img src="{% static 'img/slider/aloha.png' %}" alt="تصویر">
                          </div>
                      </div>
                      <!-- Add Pagination -->
                  </div>
              </div>
          </div>
      </section>
      <section class="mt-7">
          <div class="container-fluid">
              <div class="theme-container-contact-footer bg-primary">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="text-center pt-2 pb-2">
                              <h2 class="fs-21 text-light font-weight-bold pt-3">آیا می خواهید خانه خود را بفروشید؟</h2>
                              <p class="mb-0 text-light-gray"> یک متن ساختگی با سادگی در تولید طراحان گرافیک است.</p>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="row">
                              <div class="col-sm-7 col-lg-6">
                                  <div class="pt-1 pb-1 pl-7 item-call">
                                      <span class="fs-14 text-light pl-6 txt-column-contact">همین حالا با ما تماس بگیرید</span>
                                      <h2 class="fs-21 font-weight-bold text-light nowrap"><i class="zmdi zmdi-phone fs-50"></i>
                                          (+100) 123 456 7890</h2>
                                  </div>
                              </div>
                              <div class="col-sm-5 col-lg-6">
                                  <div class="text-right pr-6 pt-6 item-btn-call">
                                      <a class="btn btn-secondary" href="">با ما در تماس باشید</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}
