{% extends 'base.html' %}

{% block content %}
  <main id="main">
  <section>
      <div class="container-fluid text-center pt-7">
           <h1 class="fs-28 fw-600"> جدول قیمت ها</h1>
           <p class="text-gray">بسته ای را انتخاب کنید که برای تجارت شما بهترین باشد.        </p>
           <div class="item-content-pricing pt-7 pb-7">
             <div class="row">
               <div class="col-lg-3 col-md-6 mb-4">
                  <div class="pricing-card mat-card border-accent">
                      <h2 class="pricing-title my-3 fs-20">رایگان</h2>
                      <div class="pricing-header column-content bg-accent">
                          <h1 class="fs-27"> 0<small> / هر ماه </small></h1>
                          <p class="fs-14 text-light-gray">ساده ترین بسته برای شروع کار</p>
                      </div>
                      <div class="p-3">
                          <p class="py-2 fs-14 text-muted">   1 نماینده کاربر</p>
                          <p class="py-2 fs-14 text-muted">ویژگی های اصلی </p>
                          <p class="py-2 fs-14 del text-muted">فضای ذخیره سازی 1 گیگابایتی  </p>
                          <p class="py-2 fs-14 del text-muted">مشخصات نماینده</p>
                      </div>
                      <div class="pb-6">
                          <button class="btn btn-primary w-30">اشتراک</button>
                      </div>
               </div>
               </div>
               <div class="col-lg-3 col-md-6 mb-4">
              <div class="pricing-card mat-card border-accent">
                  <h2 class="pricing-title my-3 fs-20">پایه</h2>
                  <div class="pricing-header column-content bg-accent">
                      <h1 class="fs-27"> 19 هزار تومان<small> / هر ماه </small></h1>
                      <p class="fs-14 text-light-gray">محبوب ترین بسته ای که ارائه می دهیم</p>
                  </div>
                  <div class="p-3">
                      <p class="py-2 fs-14 text-muted">   2 نماینده کاربر</p>
                      <p class="py-2 fs-14 text-muted">ویژگی های اصلی </p>
                      <p class="py-2 fs-14  text-muted">فضای ذخیره سازی 2 گیگابایتی  </p>
                      <p class="py-2 fs-14 del text-muted">مشخصات نماینده</p>
                  </div>
                  <div class="pb-6">
                      <button class="btn btn-primary w-30">اشتراک</button>
                  </div>
           </div>
               </div>
               <div class="col-lg-3 col-md-6 mb-4">
                  <div class="pricing-card mat-card border-accent">
                      <h2 class="pricing-title my-3 fs-20">توسعه دهنده </h2>
                      <div class="pricing-header column-content bg-accent">
                          <h1 class="fs-27"> 60 هزار تومان<small> / هر ماه </small></h1>
                          <p class="fs-14 text-light-gray">بسته عالی برای تجارت  شما</p>
                      </div>
                      <div class="p-3">
                          <p class="py-2 fs-14 text-muted">   10 نماینده کاربر</p>
                          <p class="py-2 fs-14 text-muted">ویژگی های اصلی </p>
                          <p class="py-2 fs-14  text-muted">فضای ذخیره سازی 5 گیگابایتی  </p>
                          <p class="py-2 fs-14 del text-muted">مشخصات نماینده</p>
                      </div>
                      <div class="pb-6">
                          <button class="btn btn-primary w-30">اشتراک</button>
                      </div>
               </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="pricing-card mat-card border-accent">
                      <h2 class="pricing-title my-3 fs-20"> حرفه ای </h2>
                      <div class="pricing-header column-content bg-accent">
                          <h1 class="fs-27"> 120 هزار تومان<small> / هر ماه </small></h1>
                          <p class="fs-14 text-light-gray">پیشرفته ترین و کاملترین بسته ما </p>
                      </div>
                      <div class="p-3">
                          <p class="py-2 fs-14 text-muted">   20 نماینده کاربر</p>
                          <p class="py-2 fs-14 text-muted">ویژگی های اصلی </p>
                          <p class="py-2 fs-14  text-muted">فضای ذخیره سازی 5 گیگابایتی  </p>
                          <p class="py-2 fs-14 del text-muted">مشخصات نماینده</p>
                      </div>
                      <div class="pb-6">
                          <button class="btn btn-primary w-30">اشتراک</button>
                      </div>
               </div>
               </div>
           </div>
      </div>
  </section>
  </main>
{% endblock %}
